@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

:root {
  --color-fondo: blue;
  --fuente-letra: "Open Sans", sans-serif;
}

body {
  background-color: #f3f5fc;
  font-family: var(--fuente-letra);
}

header {
  width: 100vw;
  height: 10vh;
}

header #logo-alura {
  margin-top: 10px;
}

p {
  font-size: 20px;
  text-align: center;
}

#contenedor {
  width: 100vw;
  display: flex;
}

#areaEntrada,
#areaSalida {
  font-size: 20px;
  border: none;
  outline: none;
  color: #052051;
  background-color: transparent;
}

#areaSalida {
  color: #343a40;
  display: none;
}

#area-entrada {
  border-radius: 20px;
  padding: 20px;
  width: 60vw;
  height: 80vh;
}

#area-salida {
  display: inline-block;
  background-color: #ced4da;
  border-radius: 20px;
  padding: 10px;
  margin-right: 20px;
  width: 35vw;
  height: 80vh;
}

textarea#areaEntrada,
textarea#areaSalida {
  width: 100%;
  height: 60vh;
  resize: none;
}

textarea#areaSalida {
  height: 70vh;
}

#mensaje-informativo {
  height: 5vh;
  font-size: 15px;
  margin-top: 10px;
  text-align: left;
}

textarea::placeholder {
  color: #495057;
}

.botones {
  width: 100%;
  height: 10vh;
}

.boton {
  font-family: inherit;
  border: none;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  width: 45%;
  font-size: 15px;
  font-weight: bold;
}

#btn-encriptar {
  background-color: #052051;
  color: #ffffff;
}

#btn-desencriptar,
#btn-copiarTexto {
  background-color: #ffffff;
  color: #052051;
  border: 1px solid #052051;
}
#btn-copiarTexto {
  display: none;
  margin: auto;
  margin-top: 10px;
}

#btn-encriptar:hover {
  background-color: #356ea9;
  transition: 500ms;
}
#btn-desencriptar:hover,
#btn-copiarTexto:hover {
  background-color: #ced4da;
  transition: 500ms;
}

#figura-muneco {
  display: block;
  width: 60%;
  height: 50vh;
  margin: auto;
}

#aviso-grande {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

#descripcion-aviso {
  font-size: 15px;
}

@media (max-width: 768px) {
  #figura-muneco {
    display: none;
  }

  #contenedor {
    display: block;
    width: 90vw;
    height: 80vh;
    margin: auto;
  }

  #area-entrada {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 90vw;
    height: 65%;
  }

  textarea#areaEntrada {
    width: 100%;
    height: 85%;
  }

  #mensaje-informativo {
    height: 2vh;
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
  }
  .botones {
    width: 100%;
    height: 10%;
  }

  #area-salida {
    display: block;
    width: 90vw;
    height: 30%;
    margin: auto;
  }

  #info-area-vacia {
    margin-top: 90px;
  }

  textarea#areaSalida {
    width: 100%;
    height: 70%;
  }
}

@media (max-width: 425px) {
  #contenedor {
    display: block;
    width: 90vw;
    height: 80vh;
    margin: auto;
  }

  #area-entrada {
    display: block;
    padding: 0;
    margin: auto;
    width: 90vw;
    height: 65%;
    padding-bottom: 20px;
  }

  textarea#areaEntrada {
    width: 100%;
    height: 60%;
  }
  #mensaje-informativo {
    height: 5vh;
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
  }

  .botones {
    width: 100%;
    height: 30%;
  }

  .boton {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  #area-salida {
    display: block;
    width: 80vw;
    height: 30%;
    margin: 0;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
  }

  #info-area-vacia {
    margin-top: 40px;
  }

  textarea#areaSalida {
    width: 100%;
    height: 70%;
  }
}
