:root {
  --color-fondo: blue;
}

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap");

body {
  background-color: #f3f5fc;
  font-family: "Chivo Mono", monospace;
}

header {
  width: 100vh;
  height: 10vh;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

#contenedor {
  width: 100%;
  /* /* /* height: 40vh; */
  display: flex;
}

#areaEntrada,
#areaSalida {
  /* font-family: "Chivo Mono", monospace; */
  font-size: 30px;
  border: none;
  outline: none;
  color: #052051;
  background-color: transparent;
}

#areaSalida {
  color: #343a40;
  display: none;
}

#area-entrada {
  /* display: inline-block; */
  /* background-color: #e9ecf8; */
  border-radius: 20px;
  padding: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  width: 60%;
  height: 80vh;
}

#area-salida {
  display: inline-block;
  background-color: #ced4da;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 20px;
  width: 30%;
  height: 80vh;
}

textarea#areaEntrada,
textarea#areaSalida {
  width: 100%;
  height: 90%;
  resize: none;
}

textarea::placeholder {
  /* color: #052051; */
  color: #495057;
}

.botones {
  display: block;
  margin: auto;
}

.boton {
  /* font-family: "Chivo Mono", monospace; */
  border: none;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  width: 45%;
  font-size: 15px;
  font-weight: bold;
}

#btn-encriptar {
  background-color: #052051;
  color: #ffffff;
}

#btn-desencriptar,
#btn-copiarTexto {
  background-color: #ffffff;
  color: #052051;
  border: 1px solid #052051;
}
#btn-copiarTexto {
  display: none;
  margin: auto;
  margin-top: 10px;
}

#btn-encriptar:hover {
  background-color: #356ea9;
  transition: 500ms;
}
#btn-desencriptar:hover,
#btn-copiarTexto:hover {
  background-color: #ced4da;
  transition: 500ms;
}
/* #btn-copiarTexto:hover {
  background-color: #ced4da;
  transition: 500ms;
} */

#figura-muneco {
  width: 80%;
  height: 40vh;
  margin: auto;
}

@media (max-width: 768px) {
  #contenedor {
    display: inline-block;
  }

  #area-entrada {
    display: block;
    width: 80%;
    height: 60vh;
    margin: auto;
  }

  #figura-muneco {
    display: none;
  }

  textarea#areaSalida {
    width: 100%;
    height: 70%;
    resize: none;
  }

  #area-salida {
    display: block;
    width: 80%;
    height: 20vh;
    margin: auto;
    /* height: 300px; */
  }

  #info-area-vacia {
    margin-top: 80px;
  }

  #btn-copiarTexto {
    width: 80%;
  }
}

@media (max-width: 375px) {
  #contenedor {
    display: inline-block;
    width: 100%;
    /* height: 100vh; */
  }

  #area-entrada {
    display: inline-block;
    padding: 0;
    padding-bottom: 20px;
    width: 90%;
    height: 50vh;
    margin: auto;
  }

  textarea#areaEntrada {
    width: 100%;
    height: 70%;
  }

 #botones {
    display: inline-block;
    width: 100%;
    height: 40%;
 }

  #btn-encriptar,#btn-desencriptar {
    display: inline-block;
    width: 100%;
    
  }

  #figura-muneco {
    display: none;
  }

  #area-salida {
    display: inline-block;
    padding: 0;
    /* padding-bottom: 200px; */
    width: 90%;
    height: 25vh;
    margin: auto;
  }

  textarea#areaSalida {
    width: 100%;
    height: 60%;
  }

  #info-area-vacia {
    margin-top: 0;
  }

  #btn-copiarTexto {
    width: 80%;
    /* margin-bottom: 20px; */
  }
}